.container-main-create-recipe {
    background-image: url('../../utils/images/Background-Create-Recipe.jpg');
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    
}

.container-form-prevcard {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.container-form {
    display: flex;
    flex-direction: column;
    
}
.pinput {
    color: red;
    font-size: 12px;
}
.PrevCard {
    background-color: rgb(180, 180, 180);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 20px;
    width: 300px;
    height: 400px;
}
.divDiets {
    display: flex;
    flex-direction: column;
}

.container-button-home {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.h2 {
 color: white;
 text-shadow: 0px 0px 15px rgb(17, 17, 17);
}

.pError {
  color: red;
  font-size: 12px;
}

.buttons-create-recipe {
  color:darkgoldenrod;
  background-color: whitesmoke;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
}

.button-home {
  margin-top: 10px;
}

.buttons-create-recipe:hover {
  background-color: rgb(75, 55, 5);
}

.container-form label {
  font-weight: bold;
}